In [25]:
import pandas as pd
import numpy as np

file_run_results="wikit2019.tsv"
file_relevance_judgements="qrels-pass-binary.txt"

dfres = pd.read_csv(file_run_results, sep="\t", names=["query", "document", "rank"])
dfrel = pd.read_csv(file_relevance_judgements, sep=" ", names=["query", "/", "document", "relevance"])
dfrel = dfrel[["query","document","relevance"]]

In [26]:
dfres

          query  document  rank
0       1108939   2337312     1
1       1108939   8240652     2
2       1108939   4503239     3
3       1108939    382759     4
4       1108939   7670841     5
...         ...       ...   ...
170995   306076   7431907   996
170996   306076   3812241   997
170997   306076   6389615   998
170998   306076   6351784   999
170999   306076   1717908  1000

[171000 rows x 3 columns]

In [27]:
dfrel

        query  document  relevance
0       19335      1729          2
1       19335   3175481          3
2       19335   3175484          3
3       19335   8412681          2
4       19335   8412682          3
...       ...       ...        ...
2496  1133167   8748587          2
2497  1133167   8748590          2
2498  1133167   8748592          2
2499  1133167   8839920          2
2500  1133167   8839922          2

[2501 rows x 3 columns]

In [ ]:
topRetrieved = 10;
uniqueQueriesRetrievedFor = dfrel['query'].unique();
relRetRows = []
RR = []
for query in uniqueQueriesRetrievedFor:
    relevantDocuments = [];
    irrelevantDocuments = [];
    for i in range(1,topRetrieved+1):
        judgeDocument = dfres.loc[(dfres['query'] == query) & (dfres['rank'] == i)]['document']
        try:
            judgeQD = [query, int(judgeDocument)]
            documentRelevant = (dfrel[['query','document']].values == judgeQD).all(axis=1).any()
            if documentRelevant:
                if (855410 == query):
                    print("found relevant")
                if (len(relevantDocuments) == 0):
                    RR.append(1.0/float(i))
                relevantDocuments.append(int(judgeDocument))
            else: 
                if (855410 == query):
                    print("found irrelevant")
                if ((i == topRetrieved) and (len(relevantDocuments) == 0)):
                    RR.append(0.0)
                irrelevantDocuments.append(int(judgeDocument))
        except:
            RR=RR
    relRetRows.append(dict({'query': query,'relevantCount':len(relevantDocuments),'irrelevantCount':len(irrelevantDocuments),'relevantResults':relevantDocuments,'irrelevantResults':irrelevantDocuments}))
    
relevanceRetrievedCounts = pd.DataFrame(relRetRows,columns=["query", "relevantCount", "irrelevantCount", "relevantResults", "irrelevantResults"])
MRR = np.mean(RR)

In [29]:
relevanceRetrievedCounts

,query,relevantCount,irrelevantCount,relevantResults,irrelevantResults
0,19335,0,10,[],"[901323, 7273449, 2004186, 6894788, 712806, 17..."
1,47923,0,10,[],"[6222128, 8166787, 3688366, 2199459, 525514, 7..."
2,87181,1,9,[6484575],"[2556144, 6521360, 8534135, 6484578, 47212, 51..."
3,87452,2,8,"[8819111, 8333919]","[7261524, 4866238, 5746165, 5116022, 2026775, ..."
4,104861,0,10,[],"[6832549, 3719221, 8577484, 6634448, 2628482, ..."
5,130510,2,8,"[1494936, 799647]","[203714, 8180119, 7125241, 1024747, 5622536, 2..."
6,131843,9,1,"[8305152, 985994, 8305153, 8710813, 985995, 83...",[985988]
7,146187,0,0,[],[]
8,148538,1,9,[1985491],"[8001044, 1494794, 6037733, 231455, 3783459, 9..."
9,156493,1,9,[5530082],"[2708308, 6139381, 59101, 4527704, 892013, 872..."
10,168216,10,0,"[8731624, 7492748, 7492752, 6061718, 6213325, ...",[]
11,182539,0,0,[],[]
12,183378,10,0,"[7449748, 4803847, 4803848, 5534707, 1289497, ...",[]
13,207786,0,10,[],"[493421, 493418, 2763921, 4759182, 4393128, 33..."
14,264014,0,10,[],"[4239611, 1610715, 6978520, 5409967, 6978516, ..."
15,359349,0,10,[],"[1838225, 2137250, 1874956, 3193819, 4551555, ..."
16,405717,5,5,"[5079482, 4704978, 7728831, 4828118, 7896211]","[4704975, 2702419, 7447941, 7896212, 8433854]"
17,443396,5,5,"[8536118, 8536123, 8536121, 3721948, 7708937]","[456708, 8079046, 1465664, 4792650, 4792649]"
18,451602,1,9,[6618763],"[8383465, 5053852, 1277289, 4487185, 1626653, ..."
19,489204,0,10,[],"[3981853, 5847455, 3204758, 5157817, 5917003, ..."
20,490595,2,8,"[526093, 4842889]","[8581598, 7698193, 7704029, 2746804, 3503016, ..."
21,527433,0,10,[],"[4046876, 1101458, 1101466, 4351170, 1251479, ..."
22,573724,0,10,[],"[394136, 394138, 394142, 3365638, 5047796, 116..."
23,833860,8,2,"[2702357, 8344031, 6230228, 5167513, 8833504, ...","[670355, 6683659]"
24,855410,3,7,"[8651775, 8651771, 8651770]","[8651772, 8651776, 1147809, 1147811, 1147810, ..."
25,915593,0,10,[],"[6761341, 4566819, 6761344, 2210593, 4566816, ..."
26,962179,2,8,"[5653659, 6980697]","[5653656, 7126025, 6904863, 536178, 2978867, 3..."
27,1037798,1,9,[3641634],"[8760867, 8760864, 4788864, 4291373, 8760873, ..."
28,1063750,0,10,[],"[2992043, 80957, 2489558, 92958, 2489562, 7881..."
29,1103812,4,6,"[3843267, 8220085, 8220081, 8220089]","[2750961, 1059165, 1583317, 4292848, 8220088, ..."
30,1106007,1,9,[1334335],"[5836920, 7726655, 6126194, 2143418, 5174765, ..."
31,1110199,0,10,[],"[4800726, 5479, 986780, 1144987, 5387205, 4496..."
32,1112341,5,5,"[6311799, 4416076, 1035068, 1267519, 4416071]","[8821451, 7772806, 8797359, 7687928, 3874068]"
33,1113437,0,0,[],[]
34,1114646,2,8,"[6704400, 5417954]","[771368, 8117094, 8117093, 8117087, 2911040, 5..."
35,1114819,9,1,"[8336232, 8336225, 1724520, 8115440, 4890560, ...",[1724528]
36,1115776,0,10,[],"[266658, 1267118, 2052730, 11459, 4314172, 114..."
37,1117099,10,0,"[3607850, 6428300, 6156360, 4698655, 859540, 4...",[]
38,1121402,3,7,"[5189913, 7125983, 182369]","[188215, 3785310, 188217, 188218, 188214, 1823..."
39,1121709,2,8,"[8049584, 3423067]","[2935164, 8049580, 3420361, 4117981, 1130925, ..."
40,1124210,10,0,"[8026735, 2258597, 8026740, 2494577, 3162331, ...",[]
41,1129237,0,0,[],[]
42,1133167,2,8,"[5674622, 8255705]","[2758587, 8160230, 6022013, 7739214, 6467522, ..."

In [146]:
MRR

0.5581395348837209

In [ ]:
RR

In [148]:
len(RR)

43

43

In [ ]:
topRetrieved = 1000;
uniqueQueriesRetrievedFor = dfrel['query'].unique();
relRetRows = []
for query in uniqueQueriesRetrievedFor:
    relevantDocumentsRetrieved = [];
    relevantDocumentsNotRetrieved = [];
    for i in range(1,topRetrieved+1):
        judgeDocument = dfres.loc[(dfres['query'] == query) & (dfres['rank'] == i)]['document']
        try:
            judgeQD = [query, int(judgeDocument)]
            documentRelevant = (dfrel[['query','document']].values == judgeQD).all(axis=1).any()
            if documentRelevant:
                relevantDocumentsRetrieved.append(int(judgeDocument))
        except:
            print("err")
    for document in dfrel.loc[(dfrel['query'] == query)]['document']:
        if int(document) not in relevantDocumentsRetrieved:
            relevantDocumentsNotRetrieved.append(int(document))
            
    relRetRows.append(dict({'query': query,'relevantRetrievedCount':len(relevantDocumentsRetrieved),'relevantNotRetrievedCount':len(relevantDocumentsNotRetrieved),'relevantRetrieved':relevantDocumentsRetrieved,'relevantNotRetrieved':relevantDocumentsNotRetrieved}))
retrievedRelOrNotCounts = pd.DataFrame(relRetRows,columns=["query", "relevantRetrievedCount", "relevantNotRetrievedCount", "relevantRetrieved", "relevantNotRetrieved"])

In [32]:
retrievedRelOrNotCounts

,query,relevantRetrievedCount,relevantNotRetrievedCount,relevantRetrieved,relevantNotRetrieved
0,19335,7,0,"[1729, 8412684, 3175484, 8412681, 3175481, 841...",[]
1,47923,36,5,"[778272, 6191, 1681334, 7644552, 4684893, 8418...","[284591, 611271, 6241147, 6643066, 6919836]"
2,87181,31,0,"[6484575, 5469038, 8534130, 2986227, 5497677, ...",[]
3,87452,10,21,"[8819111, 8333919, 8819116, 5219890, 5286924, ...","[1697677, 2357235, 2624886, 2705839, 3019505, ..."
4,104861,91,20,"[459676, 8495099, 5703401, 6351571, 1304632, 5...","[120437, 1357955, 1357956, 1357957, 1357961, 1..."
5,130510,12,2,"[1494936, 799647, 8612902, 8612910, 1494938, 8...","[2982053, 7501560]"
6,131843,16,3,"[8305152, 985994, 8305153, 8710813, 985995, 83...","[2068929, 4658868, 8710809]"
7,146187,0,8,[],"[4777144, 8434618, 8434619, 8434622, 8434623, ..."
8,148538,13,19,"[1985491, 4264121, 7407803, 1969519, 231453, 1...","[1299824, 1311202, 1559002, 1816663, 1828165, ..."
9,156493,111,6,"[5530082, 8820526, 2317800, 7104323, 3288600, ...","[2612486, 3603923, 4940230, 4940234, 6983821, ..."
10,168216,200,0,"[8731624, 7492748, 7492752, 6061718, 6213325, ...",[]
11,182539,0,9,[],"[1307235, 3883081, 57443, 57449, 7371255, 7371..."
12,183378,155,20,"[7449748, 4803847, 4803848, 5534707, 1289497, ...","[1289490, 1561158, 1605672, 1730858, 1773958, ..."
13,207786,9,2,"[8273754, 1392585, 8273761, 2763917, 8273760, ...","[1029962, 4218707]"
14,264014,48,104,"[2420367, 5611210, 4043723, 5688727, 7326934, ...","[1444286, 1610707, 1610710, 1610711, 1702969, ..."
15,359349,25,0,"[68648, 68649, 68647, 4013723, 6108721, 457673...",[]
16,405717,7,0,"[5079482, 4704978, 7728831, 4828118, 7896211, ...",[]
17,443396,11,52,"[8536118, 8536123, 8536121, 3721948, 7708937, ...","[1055834, 1055835, 2130373, 2130375, 2130381, ..."
18,451602,43,57,"[6618763, 6286982, 5179251, 4874640, 3177691, ...","[103181, 1094132, 1096342, 1211642, 1211643, 1..."
19,489204,3,21,"[1051498, 1479542, 4586570]","[1231678, 1430550, 1557550, 1664640, 1820203, ..."
20,490595,24,0,"[526093, 4842889, 4737060, 5112294, 4842896, 3...",[]
21,527433,8,26,"[8617271, 8306449, 7799466, 7607669, 5466807, ...","[1000485, 1212778, 1212782, 1212784, 1212786, ..."
22,573724,13,0,"[3146238, 3365636, 5339620, 7199673, 7104825, ...",[]
23,833860,26,16,"[2702357, 8344031, 6230228, 5167513, 8833504, ...","[1889863, 2206195, 2673534, 3437281, 3437284, ..."
24,855410,3,0,"[8651775, 8651771, 8651770]",[]
25,915593,70,9,"[275732, 5931264, 5931271, 5931270, 5931269, 6...","[1396708, 210384, 275724, 3573478, 5931262, 59..."
26,962179,21,0,"[5653659, 6980697, 6898289, 8785371, 2978864, ...",[]
27,1037798,7,0,"[3641634, 5438881, 4095286, 8760871, 7822415, ...",[]
28,1063750,14,169,"[2496767, 3973423, 2551914, 7952971, 3973418, ...","[1048074, 1074552, 1086043, 1098172, 1124053, ..."
29,1103812,10,1,"[3843267, 8220085, 8220081, 8220089, 3773618, ...",[7753287]
30,1106007,21,20,"[1334335, 8204463, 8204457, 1334336, 4173709, ...","[2002045, 2672601, 2672608, 272753, 272761, 28..."
31,1110199,16,12,"[3838638, 8160524, 4504233, 4053652, 1901878, ...","[1901877, 1901879, 3838645, 4511144, 5049363, ..."
32,1112341,36,83,"[6311799, 4416076, 1035068, 1267519, 4416071, ...","[1035060, 1035066, 1228458, 1253945, 1253952, ..."
33,1113437,0,25,[],"[1681785, 1768727, 2001934, 3125155, 351824, 3..."
34,1114646,6,6,"[6704400, 5417954, 2647994, 5279567, 6711103, ...","[444374, 444380, 8117090, 8117091, 8117096, 85..."
35,1114819,194,19,"[8336232, 8336225, 1724520, 8115440, 4890560, ...","[1009502, 1333807, 1738247, 1852065, 2590450, ..."
36,1115776,2,2,"[8106321, 4314176]","[4314170, 4314174]"
37,1117099,59,24,"[3607850, 6428300, 6156360, 4698655, 859540, 4...","[1445087, 1687526, 1798619, 3349612, 3543106, ..."
38,1121402,23,0,"[5189913, 7125983, 182369, 182372, 188213, 378...",[]
39,1121709,3,0,"[8049584, 3423067, 8049583]",[]
40,1124210,111,9,"[8026735, 2258597, 8026740, 2494577, 3162331, ...","[2089537, 2728445, 2728449, 3587908, 4648417, ..."
41,1129237,0,17,[],"[128982, 128984, 128989, 1770027, 2696926, 269..."
42,1133167,121,98,"[5674622, 8255705, 190809, 1883281, 8160241, 3...","[1379378, 18344, 18346, 18351, 18352, 1883272,..."